body{   background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header{
    background-image: url('/images/pokemon-wallpaper.png');
    height: 250px;
    width: 100%;
    background-size: cover;
 
}

header span{
    font-size: 3rem;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.4);

}
h1{
    padding-top: 2rem;
}
ul{
    list-style: square;
}

.container{
    display:inline-block;
}

 .pokemon{
    display: inline-block;
    border: 3px solid black;
    margin: 5px;
}
.pokemon .Name{
    padding: 10px;
    text-align: center;
}

.pokemon:hover{
    border: 3px solid blue;
    box-shadow: 0 0 10px;
}

nav#top{
    background-color: rgb(51, 51, 51);
    position: absolute;
    left: 0;
    right: 0;
}

nav a{
    color: white;
    text-decoration: none;
    padding: .5rem;
}

nav ul{
    list-style: none;
    display: flex;
    padding: .5rem;
    margin: 0;
}

a:hover{
    color: red;
    text-decoration: underline;
}

.flag{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.column{
    height: 100%;
}

.blue{background-color: blue;}
.white{background-color: white;}
.red{background-color: red;}