body{   background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}



ul{
    list-style: square;
}

.pokemon{
    display: inline-block;
    border: 3px solid black;
    margin: 5px;
}
.pokemon .Name{
    padding: 10px;
    text-align: center;
}

.pokemon:hover{
    border: 3px solid blue;
    box-shadow: 0 0 10px;
}

nav{
    background-color: rgb(51, 51, 51);
}

nav a{
    color: white;
    text-decoration: none;
    padding: .5rem;
}

nav ul{
    list-style: none;
    display: flex;
    padding: .5rem;
    margin: 0;
}

a:hover{
    color: red;
    text-decoration: underline;
}